@import url(clue.css);
.container-button
{
  display: block;
  border: 1px solid #688396;
}
.container-button button
{
display: block;
border: none;
outline: 0;
padding: 9px 15px;
color: #fff;
background:  #537791;}
.container-button button span
{
  font-size: 17px;
  float: left;
  position:relative;
}

.container-button button strong
{
  font-size: 9px;
    float: left;
    margin-top: 7px;
    margin-left: 5px;

}



.container-button button : focus
{
display: block;
border: none;
outline: 0;
padding: 8px 0;
}

.btn:hover
{
   color: #fff;
  outline: 0px;
  border: 0px;
  padding:6px  0px !important;
}
.btn:focus
{
  color: #fff;
  outline: 0px;
  border: 0px;
   padding:6px  0px !important;
}

.transfer
{
  background:#14c04b;
  outline: 0px;
  border: 0px;

}
.btn-transparent
{
  background: transparent;
  outline: 0px;
  border: 0px;
}

.select-admin
{

  appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
 
}


input
{
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
}


.selector
{
box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
border: none;
}

select:focus
{
  border: 0px;
  outline: 0px;
}
.bg-white
{
  background: #F9F9F9 !important;
}
label[for=selection]
{
  font-size: 10px;
  position: absolute;
  right: 13px;
  color: #6B6B6B;
  top: 10px;
}

.load-contact
{
  background: transparent;
  border-radius: 20px;
  border: 1px solid #14c04b;
  color: #14c04b;
}


.load-contact:hover
{
outline: 0px;
}
.load-contact:focus
{
outline: 0px;
}
.close
{
  color: #000;

}
.close:hover
{
padding: 0px;
border: 0px;
}

.close:focus
{
padding: 0px;
border: 0px;
}

.ion-ios-close-empty
{
  color: #000 !important;
  clear: both;
}

.popup-body
{
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 320px;
  margin: 0 auto;
  z-index: 999999;
  right: 0;
  align-items: center;
    padding-top: 10%;
}